<!Doctype html>
<html>
	<head>
		<title>AngularJS Forms</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			<form>
				First Name: <input type="text" ng-model="firstName"><br><br>
				Last Name: <input type="text" ng-model="lastName"><br><br>
				Pick your field:<br>
				<input type="radio" ng-model="field" value="UI Developer">UI Developer
				<input type="radio" ng-model="field" value="Software Developer">Software Developer
				<input type="radio" ng-model="field" value="Full Stack Developer">Full Stack Developer<br>
				Checkbox to show entered data:
				<input type="checkbox" ng-model="myData">
				<div ng-switch="field">
					<div ng-switch-when="UI Developer">
						<p>You choose Front End Developer</p>
					</div>
					<div ng-switch-when="Software Developer">
						<p>You choose Back End Developer</p>
					</div>
					<div ng-switch-when="Full Stack Developer">
						<p>You choose Both Front End Developer and Back End Developer</p>
					</div>
				</div><br>
				Select Gender:
				<select ng-model="gender">
					<option value="">
    				<option value="Male">Male
    				<option value="Female">Female
    				<option value="Others">Others
				</select>
				<div ng-switch="myVar">
  					<div ng-switch-when="Male">
     				<p>Your Male</p>
  				</div>
  				<div ng-switch-when="Female">
     				<p>Your Female</p>
  				</div>
  				<div ng-switch-when="Others">
     				<p>Others</p>
  				</div>
				</div>

				<p ng-show="myData">FirstName: {{firstName}} <br>LastName: {{lastName}}<br>
				Field:{{field}}<br>
				Gender: {{gender}}</p> 
			</form>
		</div>
		<script>
			var app = angular.module("myApp", []);
			app.controller("myCtrl", function($scope){
				$scope.firstName = "Afsha";
				$scope.lastName = "Mohammed";
			});

		</script>
	</body>
</html>
