<!DOCTYPE html>
<html>
<head>
		<title> my angular arrays</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app='studentapp'>
    	<div id='Student' ng-controller='studentController'>
      		<h3>Student Names</h3>
        <div ng-repeat='x in studentList'>
          	<h4>{{x.student}}</h4>
        </div>
      	<br>
     
   		<p> Enter Student name:
   		<input type="text" ng-model='addstudentName'/>
   		</p>
   		<button ng-click='addTolist(addstudentName)'>Add to list</button>
    		<h2>{{NoStudentError}}</h2>
    	</div> <!-- End of Student -->


		<script>
			var app1 = angular.module('studentapp', []);
			app1.controller('studentController', function($scope) {
			$scope.studentList = [
				{student:'Afsha', needed:false},
				{student: 'Harika', needed:false},
				{student:'Manisha', needed:false},
				{student: 'Raavika', needed:false},
				{student:'Roohe', needed:false}
			]
				$scope.addTolist = function(addStudent){
 				if (!(addStudent === undefined || addStudent === '')){
     			$scope.studentList.push({student: addStudent, needed: false});
     			$scope.NoStudentError = '';
     			} else {
        		$scope.NoStudentError = 'Please enter a student name';
            }
		}
	});
</script>

</body>
</html>
